.footer-content {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 1.8rem;

    .about {
        margin-bottom: 1.8rem;

        .logo {
            background-color: var(--quaternary-color);
            display: flex;
            justify-content: center;
            width: 6.2rem;
            margin-bottom: 1.2rem;

            img {
                width: 6.2rem;
            }
        }

        .socials {
            margin: 1.2rem;
            display: flex;
            justify-content: center;

            svg {
                padding-right: .6rem;
                margin-right: .6rem;
                border-right: .1rem solid var(--quaternary-color);

                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }

    .quick-links {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        margin-bottom: 1.8rem;

        h2 {
            font-size: 1.2rem;
            margin: 1.2rem 0;
            font-weight: 500;
            text-transform: uppercase;
        }

        a {
            color: var(--quaternary-color);
            text-decoration: none;
            margin-bottom: .6rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .newsletter {
        h2 {
            font-size: 1.2rem;
            margin: 1.2rem 0;
            font-weight: 500;
            text-transform: uppercase;
        }

        .newsletter-input {
            margin: 1.8rem 0 5rem;
            display: flex;
            align-items: center;

            input {
                width: calc(100% - 1.2rem);
                border-radius: .6rem;
                height: 3.1rem;
                padding-left: 1.2rem;
                border: none;
            }


            button {
                position: absolute;
                right: 2.1rem;
                height: 2.8rem;
                width: 3rem;
                border-radius: .6rem;
                border: none;
                background-color: var(--principal-color);
            }
        }
    }

    .copyright {
        width: 100%;
        border-top: 1px solid var(--quaternary-color);
        padding-top: 1.2rem;
    }

    @media screen and (min-width: 375px) {
        .about {
            .socials {
                svg {
                    padding-right: 1.8rem;
                    margin-right: 1.8rem;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .footer-container {
            display: flex;
            gap: 1.2rem;

            .about,
            .quick-links,
            .newsletter {
                width: 40%;
            }
        }
    }
}