#section-four {
    .section-content {
        .section-four-header {
            margin: 1.8rem 0;
        }

        .section-four-infos {
            display: flex;
            justify-content: space-between;
            margin-top: 1.8rem;

            .info {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--principal-color);
                border-radius: .6rem;
                padding: .9rem;
                color: var(--quaternary-color);
                text-align: center;

                svg {
                    margin-bottom: .6rem;
                }

                & p:last-child {
                    margin-top: .6rem;
                }
            }
        }
    }

    .section-four-cell-demo {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        .section-four-cell-demo {
            display: flex;
            width: 50%;
            height: 50%;
            padding-right: 1.2rem;
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 0 50px;

        .section-content {
            .section-four-infos {
                justify-content: flex-start;
                gap: 1.2rem;
            }
        }

        .section-four-cell-demo {
            width: 40%;
            height: 40%;
            margin-top: 1.8rem;
        }
    }

    @media screen and (min-width: 1600px) {
        .section-four-cell-demo {
            width: 30%;
            height: 30%;
        }
    }
}