#section-five {
    .section-five-content {
        padding: 0 1.8rem 5.3rem;

        .section-five-header {
            text-align: center;
            margin-bottom: 1.8rem;

            h2 {
                font-size: 1.2rem;
                color: var(--secondary-color);
                margin: 1.2rem 0;
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        .section-five-team {
            .teammate {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.8rem;
                margin-bottom: 1.8rem;
                border-radius: .6rem;
                box-shadow: 0px 0px .6rem .1rem rgba(0, 0, 0, 0.1);

                .teammate-img {
                    width: 13.7rem;
                    height: 13.7rem;
                    border-radius: 100%;
                    border: .1rem solid var(--principal-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                h3 {
                    font-size: 1.2rem;
                    color: var(--secondary-color);
                    margin: 1.2rem 0 .3rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                h4 {
                    text-transform: uppercase;
                    margin-bottom: 1.2rem;
                }

                .statement {
                    text-align: center;
                    margin-bottom: 1.2rem;
                }

                .socials {
                    display: flex;

                    svg {
                        margin-right: 1.2rem;
                        padding: 0 1.2rem 0 0;
                        border-right: .1rem solid var(--principal-color);

                        &:last-child {
                            margin-right: 0;
                            padding-right: 0;
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .section-five-content {
            .section-five-team {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 1.8rem;

                .teammate {
                    width: 30%;

                    .teammate-img {
                        width: 7.5rem;
                        height: 7.5rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .section-five-content {
            .section-five-team {
                .teammate {
                    width: 25%;
                }
            }
        }
    }
}